<ion-app>
  <ion-split-pane color="white" contentId="main-content">
    <ion-menu color="white" contentId="main-content" type="overlay">
      <ion-content color="white">
        <ion-item-divider>
          <ion-list>
            <ion-label>
              <h2 style="color: black; font-weight: bolder; font-size: 2rem">
                Recipos
              </h2>
              <h3>Search recipes by different filters</h3>
            </ion-label>
          </ion-list>
        </ion-item-divider>
        <ion-list color="white" id="inbox-list">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              (click)="selectedIndex = i"
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
